body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #020617;
  color: white;
}

.navbar a {
  margin-left: 20px;
  color: #c7d2fe;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 85vh;
  background: linear-gradient(135deg, #1e3a8a, #312e81);
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 3rem;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.light {
  background: white;
}

.stats {
  background: #e0e7ff;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn {
  background: #2563eb;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* OUTPUT */
.output {
  margin-top: 30px;
  background: #f8fafc;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/* FAQ */
.faq button {
  width: 100%;
  padding: 14px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.faq p {
  display: none;
  padding: 10px 20px;
  color: #475569;
}

/* CONTACT */
.contact form {
  max-width: 400px;
  margin: auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  background: #020617;
  color: #c7d2fe;
  text-align: center;
  padding: 25px;
}
